:root {
  --color-black: #1b1f23;
  --color-white: #fff;
  --color-gray-1: #fafbfc;
  --color-gray-2: #f6f8fa;
  --color-gray-3: #e1e4e8;
  --color-gray-4: #d1d5da;
  --color-gray-5: #959da5;
  --color-gray-6: #6a737d;
  --color-gray-7: #586069;
  --color-gray-8: #444d56;
  --color-gray-9: #2f363d;
  --color-gray-10: #24292e;
  --color-blue-1: #f1f8ff;
  --color-blue-2: #dbedff;
  --color-blue-3: #c8e1ff;
  --color-blue-4: #79b8ff;
  --color-blue-5: #2188ff;
  --color-blue-6: #0366d6;
  --color-blue-7: #005cc5;
  --color-blue-8: #044289;
  --color-blue-9: #032f62;
  --color-blue-10: #05264c;

  --border-color: var(--color-gray-8);
}