.no-current-channel {
  flex: 1;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  color: var(--color-gray-6);

  &__hand {
    font-size: 30px;
    display: inline-block;
    margin-right: 10px;
    margin-top: -9px;
  }
}