.channel-list-item {
  height: 40px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 16px;

  &--active,
  &:hover {
    background-color: var(--color-gray-9);
  }

  &__name {
    font-size: 14px;
    color: var(--color-gray-1);

    &--active {
      color: var(--color-blue-3);
      font-weight: bold;
    }
  }
}