.channel-message {
  padding: 14px 20px;
  display: flex;

  &:first-child {
    margin-top: 10px;
  }

  &__text {
    flex: auto;
  }

  &__meta-container {
    text-align: right;
    color: var(--color-gray-7);
  }
}