.layout-main {
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  border-right: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  background: var( --color-gray-10);
}