.message-form {
  display: flex;
  flex-direction: row;

  &__input {
    flex: 1;
  }

  textarea,
  button {
    background: var(--color-gray-9);
    padding: 14px 20px;
    border: 1px solid var(--color-gray-6);
    color: white;
    outline: none;

    &:disabled {
      cursor: not-allowed;
    }
  }

  textarea:focus {
    background-color: var(--color-gray-8);
  }

 button:hover:not(:disabled) {
    background-color: var(--color-gray-8);
    cursor: pointer;
  }
}